/.bundle

/log/
/tmp/

/storage

/node_modules
/yarn-error.log

/public/assets
.byebug_history

/config/master.key


.idea/*
.idea/workspace.xml
.rspec
config/database.yml
.env
/public/uploads
/public/cache
/public/stylesheets/compiled
/public/system/*
/public/assets/*
/public/sitemaps
public/reports/*

# Dev Machines
.DS_Store
*/.DS_Store/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
coverage/*
vendor/*
storage/*
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
config/application.yml